/* .banner-text{

} */
.active, .nav-link:hover {
  color: black;
}
.nav-link{
  color: black;
}
.icon-logo{
  height: 24px;
  width: 24px;
  margin: 0px 12px 0px 2px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-decoration: none;
}
.container {
  height: auto;
   overflow: hidden;
   min-height: calc(100vh - 128px);
   /* display: flex; */
   /* flex-direction: column; */
   justify-content: center;
}
.left {
  float: left; /* not needed, just for clarification */
  /* the next props are meant to keep this block independent from the other floated one */
  width: 50%;
  overflow: hidden;
}
.right{
      width: 50%;
    float: right;
    overflow: hidden;
    height: auto;
}
.banner-text{
  margin-top: auto;
margin-bottom: auto;
margin-left: 3rem !important;
min-height: calc(100vh - 128px);
display: flex;
flex-direction: column;
justify-content: center;
}
img {
  max-width:100%;
  height:75%;
  float: left;
vertical-align: middle;
}
img.img-welcome{
  min-height: 75%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
a{
  color: #007bff;
text-decoration: none;
background-color: transparent;
}
.embed-responsive-16by9::before {
    padding-top: 56.25%;
}
.embed-responsive::before {
    display: block;
    content: "";
}
