{% extends "base.html" %}
{% block page_content %}
<section class="about-section text-center">
  <div class="container">
    <div class="col-md-4 mt-5">
      <h2 class="about-title font-weight-bold">Hello, I'm Thoni</h2>
      <br>
      <p class="about-text">
        I'm undergraduate student in Telkom University major Information System.
        Currently i work to my Lecturer as Research Assisstant in Data Science.
        Passionate in Startup industry. Dreamer, visioner, but gamer sometimes.
        Actively join competition in Kaggle and other data science platform.
      </p>
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="about-me-columns mx-auto my-5 mb-lg-3">
            <h4>TOOLS</h4>
            <p class="mb-0">
              Python
            </p>
            <p class="mb-0">
              Java
            </p>
            <p class="mb-0">
              Tableau
            </p>
            <p class="mb-0">
              Tensorflow
            </p>
            <p class="mb-0">
              Ms. Office
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="about-me-columns mx-auto my-5 mb-lg-3">
            <h4>INTEREST</h4>
            <p class="mb-0">
              Data Analytic
            </p>
            <p class="mb-0">
              Data Storyteller
            </p>
            <p class="mb-0">
              ML & DL
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
