{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
  <div class="left ">
    <img src="{% static "welcome.jpg" %}" alt="image welcome" class="img-welcome">
  </div>
  <div class="right">
    <div class="banner-text col-sm-12 ">
      <h1>Ahmad Shohibus Sulthoni</h1>
      <div class="social-icons">
        <a href="https://github.com/assulthoni" target="_blank">
          <img class="icon-logo" src="{% static "github-logo.svg" %}" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/assulthoni/" target="_blank">
          <img class="icon-logo" src="{% static "linkedin-logo.svg" %}" alt="linkedin">
        </a>
        <a href="https://www.instagram.com/as_sulthoni/" target="_blank">
          <img class="icon-logo" src="{% static "instagram-logo.svg" %}" alt="instagram">
        </a>
      </div>
    </div>
    </div>
</div>
{% endblock %}
