{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="container">
    <div class="row">
        {% for post in posts %}

        <div class="col-lg-4 d-flex align-items-stretch" style="margin-top: 2%">
            <div class="card shadow border-0 h-100"><a href="#">
                <img src="{{ post.photo.url }}"
                     alt="{{post.title|truncatechars:15}}" class="card-img-top img-thumbnail"></a>
                <div class="card-body"><a href="#"
                                          class="text-uppercase text-muted text-sm letter-spacing-2"
                                          style="font-size:11px;">{{ post.category }} </a>
                    <h5 class="my-2"><a href="{{ post.link }}" target="_blank" class="text-dark">
                        {{ post.title|truncatechars:30 }}</a>
                    </h5>
                    <p class="text-gray-500 text-sm my-3" style="font-size:10px;"><i class="far fa-clock mr-2"></i>
                        {{post.created_at }}
                    </p>
                    <p class="card-text my-2 text-muted text-sm" style="font-size:14px;">
                        {{ post.content|truncatechars:100 }}
                    </p>
                    <a style="font-size:11px;" href="{{ post.link }}" target="_blank" class="btn btn-link pl-0">
                        Learn more
                        <i class="fa fa-long-arrow-alt-right ml-2">

                        </i>
                    </a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    <div class="row bottom-div" style="">
        {% if posts.paginator.num_pages > 1 %}

        {% include '_paginator.html'%}

        {% endif %}
    </div>
</div>

{% endblock %}
