{% extends "base.html" %}
{% load martortags %}
{% load static %}

{% block page_content %}
{% for p in post  %}
<section class="work_detail-section">
  <div class="container" style="margin-top:25px;">
    <div class="row bg-faded">
      <div class="col-md-12">
        {% comment %} <div class="card card-block h-640 justify-content-center border-0"> {% endcomment %}
          <img src="{{ p.photo.url }}" style="margin-bottom:15px;"
          alt="{{p.title|truncatechars:15}}" class="img-detail"></img>
          <hr>
          <h2 class="work-title font-weight-bold text-center">{{ p.title }}</h2>
          <hr>
          {{p.content | safe_markdown}}
          <hr>
          <a href="{{ p.link }}" class="btn btn-primary btn-sm float-right" target="_blank">
            Further Read
          </a>

        {% comment %} </div> {% endcomment %}
      </div>
    </div>
  </div>
</section>
{% endfor %}


{% endblock %}
